{% extends 'base.html.twig' %}
{% form_theme form 'fields.html.twig' %}

{% block baseHeader %}
    <img class="header-img col-sm-4" src="{{ asset('imgs/recipes.png') }}"/>
    <h1 class="form-title col-sm-8"> Recipes </h1>
{% endblock %}

{% block form %}
<div>
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.action) }}

    {{ form_row(form.name) }}

    <div id="new" class="form-step hidden">
        {{ form_row(form.description) }}
        {{ form_row(form.ingredients) }}
        <span class="remove_button step-button form-button"> - Ingredient </span>
        <span class="add_button step-button form-button"> + Ingredient </span>
    </div>

    <div>
        {{ form_widget(form.save) }}
    </div>

    <div class="optional_label optional-label"> * Optional </div>

    {{ form_end(form) }}
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/recipesForm.js') }}"></script> 
{% endblock %}